@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin : 0;
}

html {
    font-family: 'Roboto', sans-serif;
    box-sizing : border-box;
}

.container {
    color        : #fff;
    background   : linear-gradient(145deg, #2192b0, #6dd5ed);
    margin       : 50px auto;
    width        : 400px;
    border-radius: 5px;
    font-size    : 14px;
}

.search-bar {
    width          : 50%;
    margin         : 0 auto;
    padding-top    : 20px;
    display        : flex;
    position       : relative;
    justify-content: center;
    align-items    : center;
    border-bottom  : 1px solid #fff;
}

.search-icon {
    margin-right: 5px;
    position    : absolute;
    left        : 0;
}

#search-input {
    border    : none;
    outline   : none;
    padding   : 3px 3px 3px 30px;
    background: transparent;
    height    : 20px;
    color     : #fff
}

#search-input::placeholder {
    color: rgb(206, 206, 206);

}

.microphone {
    cursor: pointer;
}

.microphone .recording-icon {
    visibility               : hidden;
    width                    : 10px;
    height                   : 10px;
    background-color         : #e22d2d;
    border-radius            : 50%;
    animation-name           : pulse;
    animation-duration       : 2.0s;
    animation-timing-function: ease-out;
    animation-direction      : alternate;
    animation-iteration-count: infinite;
    animation-play-state     : running;
}

.microphone.recording .recording-icon {
    visibility: visible;
    display   : inline-block;
}

.microphone.recording .fa-microphone {
    display: none;
}

@keyframes pulse {

    0% {
        transform       : scale(.5);
        background-color: rgba(255, 0, 0, 0.3);
        border-radius   : 100%;
    }

    50% {
        background-color: rgba(255, 0, 0, 0.5);
    }

    100% {
        transform       : scale(2.0);
        background-color: rgba(255, 0, 0, 0.7);
    }
}

.info-wraper {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 30vh;
    padding        : 80px 50px;
}

.city-name {
    font-size    : 20px;
    margin-bottom: 3px;
}

.weather-state {
    font-size: 13px;
}

.weather-icon {
    width : 70px;
    height: 70px;
}

.temperature {
    font-size  : 80px;
    font-weight: lighter;
    line-height: 1;
    padding    : relative;
}

.temperature::after {
    content  : 'o';
    position : absolute;
    font-size: 30px;
}

.additional-section {
    border-top    : 1px solid #fff;
    display       : flex;
    flex-direction: column;
    font-size     : 13px;
    padding       : 10px 20px;
}

.additional-section .row {
    margin-bottom: 5px;
    display      : flex;
}

.additional-section .item {
    display       : flex;
    flex          : 1;
    flex-direction: column;
}

.additional-section .item .label {
    font-weight: bold;
}